@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 64% 15%; /* Darker Navy */
    --foreground: 210 40% 98%;
    --card: 233 60% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 233 64% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 263 50% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 263 50% 44%;
    --secondary-foreground: 210 40% 98%;
    --muted: 233 60% 22%;
    --muted-foreground: 210 40% 90%;
    --accent: 45 65% 52%;
    --accent-foreground: 233 64% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 233 60% 28%;
    --input: 233 60% 28%;
    --ring: 45 65% 52%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, hsl(233 64% 15%), hsl(263 50% 34%), hsl(233 64% 15%), hsl(45 65% 52%));
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
